@import url(https://fonts.googleapis.com/css?family=Nunito);
.navbar {
  height: 65px;
  padding-bottom: 0px;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
}

.form-group.row {
  margin-bottom: 15px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
